* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.section, .footer {
    padding: 0px 250px;
}

.one {
    background-color: #1F2937;
}

.one .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 150px;
}

.one .bottom {
    display: flex;
    gap: 40px;
}

.one .bottom .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.placeholder {
    display: flex;
    flex: none;
    background-color: gray;
    width: 500px;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.header-link-text {
    display: flex;
    gap: 20px;
}

.three {
    background-color: #E5E7EB;
}

.four {
    background-color: #3882F6;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text, .header-link-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    display: flex;
    flex: none;
    width: 125px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
}

.information-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}


.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.footer {
    background-color: #1F2937;
}

.blue {
    color: #1F2937
}

.bold {
    font-weight: bold;
}